body{
	background-color: black;
	display: flex;
	justify-content: center;
	margin-top: 100px;

}
.info{
	position: relative;
	height: 600px;
	width: 600px;
	background-color: yellow;
}
h1{
	position: relative;
	text-align: center;
	outline-width: 50px;
	background-color: skyblue;
	width: 300px;
	left: 150px;

}
p{
	position: relative;
	text-align: center;
	outline-width: 50px;
	background-color: skyblue;
	width: 300px;
	left: 150px;

}
