body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	scroll-behavior: none;
}
h1{
	position: relative;
	font-size: 40px;
	letter-spacing: 25px;
	color: gold;
}
h2{
	position: relative;
	margin-top: 0px;
	font-size: 30px;
	color: white;
}
label{
	color: white;
	font-size: 20px;
}
form{
	position: relative;
	text-align: center;
	font-family: sans-serif;
}
button{
	border-radius: 10px;
	color: gold;
	font-size: 30px;
	width: 300px;
	height: 80px;
	background-color: deepskyblue;
}